source/.ci
source/.github
source/.vs
source/.vscode
source/.gitignore
source/.gitmodules
source/.lgtm.yml
source/**/.bazelci
source/**/..readthedocs.yml
source/**/.ci
source/**/.github
source/**/.vs
source/**/.vscode
source/**/.lgtm.yml